.leadership-breakdown-section {
    background-color: $bg-color;
    padding-top: 50px;

    .section-1 {
        margin: 0px auto;
        max-width: 80%;

        .title {
            font-size: fluid-font(30, 45);
            font-weight: $font-weight-medium;
            margin-bottom: 50px;
            max-width: 70%;

            @include custom-media(1300px) {
                max-width: 100%;
            }
        }

        .section_item {
            display: flex;
            margin: 0 auto 50px;

            @include custom-media(1300px) {
                flex-direction: column;
                gap: 20px;
            }

            .left {
                width: 50%;

                @include custom-media(1300px) {
                    width: 100%;
                }

                .title {
                    font-size: fluid-font(20, 35);
                    font-weight: $font-weight-medium;
                    color: $text-color-2;
                    max-width: 100%;
                    margin-bottom: 15px;

                    @include custom-media(1300px) {
                        margin-bottom: 15px;
                    }
                }

                .description {
                    font-size: $font-size-base;
                    color: $text-color-2;
                    margin-top: 10px;
                }

                ul {
                    list-style: revert;
                    margin-left: 25px;
                    padding-top: 15px;
                }
            }

            .right {
                width: 50%;
                padding-left: 30px;

                @include custom-media(1300px) {
                    width: 100%;
                    padding-left: 0;
                }

                .title {
                    font-size: fluid-font(20, 35);
                    font-weight: $font-weight-medium;
                    color: $text-color-2;
                    max-width: 100%;

                    @include custom-media(1300px) {
                        margin-bottom: 20px;
                    }
                }

                .description {
                    font-size: $font-size-base;
                    color: $text-color-2;
                    margin-top: 10px;
                }

                ul {
                    list-style: revert;
                    margin-left: 25px;
                    padding-top: 15px;
                }
            }

            &:nth-child(3) {
                @include custom-media(1300px) {
                    flex-direction: column-reverse;
                }
            }
        }
    }

    .section-2 {
        margin: 0px auto;
        max-width: 80%;
        padding-bottom: 80px;
        margin-top: 100px;

        .title {
            font-size: fluid-font(20, 35);
            font-weight: $font-weight-medium;
            margin-bottom: 30px;
            max-width: 80%;
            @include custom-media(1300px) {
                max-width: 100%;
            }
        }

        .description {
            font-size: fluid-font(16, 24);
            color: $text-color-2;
            margin-bottom: 20px;
        }
    }
}