.clients-marquee {
  padding: 15px 0;
  overflow: hidden;
  width: 100%;
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
}

.marquee__inner {
  display: flex;
  width: max-content;
  animation: marquee 20s linear infinite;
}

.marquee__group {
  display: flex;
}

.clients-marquee__item {
  margin: 0 25px;
  white-space: nowrap;
  padding: 4px 16px 4px 12px;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
